.profile{
    display: flex;
    flex: 5.5;
}

.hideProfile {
    display: none;
}

.profileRight{
    flex: 9;
}

.profileCover{
    height: 320px;
    position: relative;
}

.profileCoverImg{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.profileUserImg{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 150px;
    border: 3px solid white;
}

.profileInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profileInfoName{
    font-size: 24px;
}

.profileInfoDesc{
    font-weight: 300;
}

.profileRightBottom{
    display: flex;
}

.updateCoverPic span, .updateCoverPic input{
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background:none;
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 0.9rem;
    cursor: pointer;
    color: #05141C;
}
.updateProfilePic {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
}
.updateProfilePic span {
    display: flex;
    align-items: center;
    gap: 7px;
    background-color: #1B2730;
    border: 2px solid #516677;
    border-radius: 20px;
     padding: 5px 10px;
    color: #fff;
    cursor: pointer;
}
.updateProfilePic span:hover {
    background-color: #516677;
    color: white;
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(-1.7px); 
    animation: glowEffect 1.5s infinite;
  }
  
  @keyframes glowEffect {
    0% {
      box-shadow: 0px 0px 5px 0px rgba(61, 92, 109, 0.2);
    }
    50% {
      box-shadow: 0px 0px 20px 10px rgba(61, 92, 109, 0.3);
    }
    100% {
      box-shadow: 0px 0px 5px 0px rgba(61, 92, 109, 0.4);
    }
  }