.topbarContainer {
    height: 50px;
    width: 100%;
    background-color: #06080A;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
    flex: 1;
  }
  
  .topbarLeft {
    flex: 1;
    display: flex;
    gap: 50px;
  }
  
  .logo {
    font-size: 24px;
    margin-left: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
  }
  
  .searchbar {
    width: 40%;
    height: 30px;
    background-color: #1B2730;
    border-radius: 30px;
    display: flex;
    align-items: center;
  }
  
  .searchIcon {
    font-size: 20px !important;
    margin-left: 10px;
    background-color: #1B2730;
  }
  
  .searchInput {
    border: none;
    width: 70%;
    background-color: #1B2730;
    color: #fff;
  }
  
  .searchInput:focus {
    outline: none;
  }
  
  .topbarRight {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* color: white; */
  }
  
  .topbarLink {
    margin-right: 10px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .topbarIcons {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .topbarIconItem {
    margin-right: 15px;
    cursor: pointer;
    position: relative;
    padding: 2px 5px;
  }

  
  .topbarIconBadge {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: red;
    color: white;
    position: absolute;
    top: -5px;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }
  
  
  .topbarImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
  }

   
  .topbarImg:hover {
    background-color: #fff;
    color: #1B2730;
    border-radius: 100%;
    padding: 4px 5px; 
    transform: translateY(0.3px);
    box-shadow: inset 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
  }

  @media (max-width: 800px){
    .topbarContainer{
      flex-direction: column;
      height: auto;
      padding-top: 10px;
    }
    .topbarLeft{
      width: 100%;
    }
    .topbarRight {
     width: 100%;
     /* flex: 1; */
    }
    .topbarIcons {
      width: 100%;
      flex: 1;
      justify-content: space-evenly;
      margin-top: 10px;
    }
    .topbarIconItem {
      border: 0px;
      background-color: inherit;
    }
  }
  